{% extends 'base.html' %}



{% block content %}

<div class="jumbotron">
<h1 class="display-4 text-center col-12 ">
    IOT FARM APP
</h1>
<!--<p class="lead">A Newspaper website built with Django.</p>-->
    <div class="row">
        <div class=" col-sm-6 bg-dark rounded " id="humidity" >
            <h3 class="text-white d-inline-block" id="hud"><i class='fas fa-water' style='color:#e599f7'></i> Soil Humidity Level: {{ field1 }} %</h3>

    </div>
    <div  class="col-sm-6 d-inline-block " id="condition" >
        <h3 class="text-dark" id="con"><i class="fas fa-info-circle" style="color:#007bff"></i> Condition: {% if field1 <= 25 %} <span class="bg-danger rounded text-white pr-2 d-inline-block">No or Low Moisture</span> {% elif field1 > 25 and field1 <= 50  %} <span class="bg-primary rounded text-white pr-2 d-inline-block">Soil moisture  is Moderate </span> {% elif field1 > 75 %} <span class="bg-success rounded text-white pr-2 d-inline-block">Soil Moisture is Ok</span> {% endif %} </h3>

    </div>
    </div>



</div>
{% endblock content %}
